@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    font-family: 'Roboto', sans-serif;
    padding-left: 264px;
    padding-top: 68px;
    font-size: 16px;
}

/***** navbar section *****/
nav {
    display: flex;
    justify-content: space-between;
    padding: 4px 25px;
    align-items: center;
    padding-bottom: 16px;
    background-color: #0f0f0f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #aaa;
}

.logo span {
    padding-left: 4px;
    padding-bottom: 20px;
}

.logo svg {
    width: 90px;
}

.search input {
    background-color: transparent;
    border: 1px solid #303030;
    height: 40px;
    width: 40vw;
    border-radius: 40px 0 0 40px;
    padding-left: 20px;
    z-index: 1;
}

.search input::placeholder {
    font-size: 14px;
}

.search input:focus {
    outline-width: 0;
    border: 1px solid #6797ffe5;
    color: white;
    font-size: 14px;
}

.search div {
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
    border-right: 1px solid #303030;
    border-radius: 0 40px 40px 0;
    height: 40px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav2 .nav2bg {
    background-color: #222222;
}

.mic {
    background-color: #222222;
    border-radius: 90px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mic:hover {
    background-color: #3a3a3a;
}

.h {
    border-radius: 90px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h:hover {
    background-color: #c0c0c0;

}

nav .account {
    border-radius: 50px;
    margin: 8px;
}

.search {
    display: flex;
    align-items: center;
}

.nav1 {
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav3 {
    display: flex;
    align-items: center;
    gap: 9px;
}

.nav4 {
    display: flex;
    align-items: center;
    gap: 9px;
    display: none;
}

.n4 {
    padding: 3px;
}

.n {
    display: none;
}

/***** main section *****/
.main {
    display: flex;
    gap: 30px;
}

/***** right section *****/
.right {
    color: white;
    font-size: 14px;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    width: 16.4vw;
    height: 90vh;
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    left: 0;
}

.right-elements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    padding: 8px 14px;
    border-radius: 10px;
}

.a {
    background-color: #222222;
}

.right-elements:hover {
    background-color: #222222;
    cursor: pointer;
}

.b {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: text;
}

.right-line-1 {
    width: 14.7vw;
    height: 1px;
    background-color: #3b3b3b;
    margin: 12px 0;
}

.right-you {
    gap: 10px;
    font-size: 16px;
}

.account {
    border-radius: 50px;
}

.right::-webkit-scrollbar {
    width: 8px;
}

.right::-webkit-scrollbar-track {
    display: none;
    background-color: transparent;
}

.right::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
}

.right:hover::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 67%);
    border-radius: 8px;
}

.right::-webkit-scrollbar-button {
    display: none;
    background-color: transparent;
}

.right::-webkit-scrollbar-corner {
    display: none;
    background-color: transparent;
}

.footer-1 {
    font-size: 13px;
    color: #aaaaaa;
    gap: 6px;
    line-height: 12px;
    padding-right: 0px;
}

.footer-1:hover {
    background-color: #0f0f0f;
    cursor: default;
}

.footer-1 span:hover {
    cursor: pointer;
}

.copyright {
    font-size: 12px;
    color: #717171;
}

.copyright:hover {
    background-color: #0f0f0f;
    cursor: text;
}

.right-2 {
    font-size: 10px;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    display: none;
    position: fixed;
    left: 0;
    margin-left: 4px;
}

.right-2-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-2-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
#menujs{
    display: block;
    border-radius: 50px;
    padding: 8px;
}
#menujs:hover {
    background-color: #cecece;
}
#menu2js{
    display: none;
    border-radius: 50px;
    padding: 8px;
}
#menu2js:hover {
    background-color: #bdbdbd;
}
.profile{
    background-color: #222222;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #f1f1f1;
    position: absolute;
    top: 44px;
    right: 25px;
    padding-bottom: 15px;
    display: none;
}
.profile-account{
    padding: 15px 15px 0 15px;
}
.profile-account-top{
    display: flex;
    gap: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}
.profile-account-top img{
    border-radius: 50px;
}
.profile-account-bottom a{
    color: #3ea6ff;
    font-size: 14px;
    text-decoration: none;
    padding-left: 21%;
}
.right-line-3{
    height: 1px;
    width: 100%;
    background-color: #5e5e5e;
    margin: 9px 0;
}
#profile-box{
    justify-content: space-between;
}
.v{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    padding: 0px 14px 0px 0;
    border-radius: 10px;
}
#account-img2{
    display: none;
}
/***** left section *****/
.left {
    width: 98%;
}

.left-top {
    overflow: hidden;
}

.left-top-element {
    display: flex;
    color: #f1f1f1;
    font-size: 14px;
    gap: 10px;
    font-weight: 500;
    white-space: nowrap;
}

.left-top-element p {
    background-color: #222222;
    padding: 8px 13px;
    border-radius: 10px;
}

.left-box {
    flex-basis: 32.2%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box-channel {
    display: flex;
    width: 100%;
}

.box-1 {
    background: url(../Images/box-1.jpg);
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    height: 14.374vw;
    width: 100%;
}

.channel-icon {
    border-radius: 50px;
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.box-channel p {
    color: #f1f1f1;
    font-size: 16px;
    white-space: nowrap;
    width: 21vw;
    text-overflow: ellipsis;
    overflow: hidden;
}

.span-1 {
    font-size: 12px;
    color: #f1f1f1;
    font-weight: 700;
}

.span-2 {
    font-size: 12px;
    color: #f1f1f1;
    font-weight: 700;
    padding: 0 4px;
}

.span-3 {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 700;
}

.box-location {
    padding-left: 48px;
}

.trynow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    height: 36px;
    color: #3ea6ff;
    background-color: #263850;
    border-radius: 18px;
    font-weight: 500;
}

.left-bottom {
    padding-top: 42px;
}

.left-bottom-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 20px;
}

.box-details {
    padding-left: 48px;
    color: #aaaaaa;
    font-weight: 400;
    font-size: 14px;
}

.box-details p {
    line-height: 20px;
}

.pt {
    fill: #3ea6ff;
}

.shorts-h {
    display: flex;
    font-size: 20px;
    color: #f1f1f1;
    gap: 8px;
    margin-left: 10px;
    padding: 40px 0;
    justify-content: flex-start;
}

.shorts-img {
    background-image: url(../Images/shorts-img.webp);
    background-position: center;
    background-size: cover;
    height: 26.34vw;
    width: 100%;
    border-radius: 12px;
}

.shorts-content p {
    color: #f1f1f1;
    font-size: 16px;
}

.short-content-box p:nth-child(3) {
    color: #aaaaaa;
    font-size: 14px;
}

.shorts-content {
    display: flex;
    gap: 16px;
}

.short-content-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #3b3b3b;
    margin: 12px 0;
}

.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 25px 0;
}

.show-more-button {
    border: 1px solid #3b3b3b;
    width: 31.7%;
    height: 34px;
    border-radius: 18px;
    position: absolute;
    background-color: #0f0f0f;
}

.show-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 14px;
    color: #f1f1f1;
}

.show-more-button img {
    height: 24px;
    width: 24px;
}

/***** media queries *****/
@media screen and (max-width: 1334px) {
    .shorts-img {
        background-image: url(../Images/shorts-img.webp);
        background-position: center;
        background-size: cover;
        height: 32.58vw;
        width: 100%;
        border-radius: 12px;
    }

    .shorts-content {
        display: flex;
        gap: 16px;
        overflow: hidden;
        flex-wrap: wrap;
        height: 38vw;
    }

    .short-content-box {
        flex-basis: 23.8%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}



@media screen and (max-width: 1312px) {
    .shorts-img {
        background-image: url(../Images/shorts-img.webp);
        background-position: center;
        background-size: cover;
        height: 30vw;
        width: 100%;
        border-radius: 12px;
    }

    .shorts-content {
        display: flex;
        gap: 16px;
        overflow: hidden;
        flex-wrap: nowrap;
        /* height: 59vh; */
    }

    .short-content-box {
        flex-basis: 18.8%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .right {
        left: -100%;
    }

    .right-2 {
        display: block;
        padding-top: 10px;
    }

    body {
        padding-left: 95px;
    }

    .left {
        width: 98%;
    }
}

@media screen and (max-width: 1312px) {
    .box-1 {
        height: 15.93vw;
    }
}
@media screen and (max-width: 1168px) {
    .shorts-img {
        background-image: url(../Images/shorts-img.webp);
        background-position: center;
        background-size: cover;
        height: 37.3vw;
        width: 100%;
        border-radius: 12px;
    }

    .shorts-content {
        display: flex;
        gap: 16px;
        overflow: hidden;
        flex-wrap: wrap;
        height: 43vw;
    }

    .short-content-box {
        flex-basis: 23.6%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
@media screen and (max-width: 1096px) {
    .shorts-img {
        background-image: url(../Images/shorts-img.webp);
        background-position: center;
        background-size: cover;
        height: 50vw;
        width: 100%;
        border-radius: 12px;
    }

    .shorts-content {
        display: flex;
        gap: 16px;
        overflow: hidden;
        flex-wrap: wrap;
        height: 57vw;
    }

    .short-content-box {
        flex-basis: 31.6%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
@media screen and (max-width: 1091px) {
    .left-box {
        flex-basis: 48.4%;
    }

    .box-1 {
        height: 24.6vw;
    }

    .search input {
        width: 30vw;
    }
}
@media screen and (max-width: 932px) {
    .shorts-content {
        height: 58vw;
    }
}
@media screen and (max-width: 817px) {
    .shorts-content {
        height: 59vw;
    }
}
@media screen and (max-width: 790px) {
    .right-2 {
        display: none;
    }

    .left {
        margin: auto;
    }

    body {
        padding-left: 0;
    }

    .search input {
        width: 20vw;
    }
    .shorts-content {
        height: 59vw;
    }
}
@media screen and (max-width: 817px) {
    .shorts-content {
        height: 60vw;
    }
}
@media screen and (max-width: 658px) {
    .nav2 {
        display: none;
    }

    .nav3 {
        display: none;
    }

    .nav4 {
        display: flex;
    }

    .h {
        padding: 3px;
    }

    .n4 {
        padding: 3px;
    }
}

@media screen and (min-width:564px) and (max-width: 697px) {
    .left-box {
        flex-basis: 500px;
    }

    .box-1 {
        height: 281px;
    }

    .left-bottom-content {
        justify-content: center;
    }

    .search input {
        width: 10vw;
    }
    .shorts-img {
        background-image: url(../Images/shorts-img.webp);
        background-position: center;
        background-size: cover;
        height: 426px;
        width: 100%;
        border-radius: 12px;
    }

    .shorts-content {
        display: flex;
        gap: 16px;
        overflow: hidden;
        flex-wrap: wrap;
        height: 494px;
        justify-content: center;
    }

    .short-content-box {
        flex-basis: 236px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .shorts-h {
        width: 79%;
        margin: auto;
    }

}
@media screen and (max-width: 564px) {
    .left-box {
        flex-basis: 99.4%;
        margin: auto;
    }

    .box-1 {
        height: 48.6vw;
    }
    .shorts-img {
        background-image: url(../Images/shorts-img.webp);
        background-position: center;
        background-size: cover;
        height: 74vw;
        width: 100%;
        border-radius: 12px;
    }

    .shorts-content {
        display: flex;
        gap: 16px;
        overflow: hidden;
        flex-wrap: wrap;
        height: 88vw;
        justify-content: center;
    }

    .short-content-box {
        flex-basis: 48%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .shorts-h {
        width: 79%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .m {
        display: none;
    }

    .n {
        display: flex;
    }

    nav {
        padding-top: 10px;
    }
    .shorts-content {
        height: 89vw;
    }
}
@media screen and (max-width: 430px) {
    .shorts-content {
        height: 90vw;
    }
}
@media screen and (max-width: 408px) {
    .shorts-img {
        background-image: url(../Images/shorts-img.webp);
        background-position: center;
        background-size: cover;
        height: 74vw;
        width: 100%;
        border-radius: 12px;
    }

    .shorts-content {
        display: flex;
        gap: 16px;
        overflow: hidden;
        flex-wrap: wrap;
        height: 92vw;
        justify-content: center;
    }

    .short-content-box {
        flex-basis: 46%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
@media screen and (max-width: 400px) {
    .shorts-content {
        height: 95vw;
    }
}
@media screen and (max-width: 400px) {
    .shorts-content {
        height: 96vw;
    }
}
@media screen and (max-width: 383px) {
    .shorts-content {
        height: 95vw;
    }
    .shorts-content p {
        font-size: 0.9rem;
    }
    .show-more {
        display: none;
    }
}
@media screen and (max-width: 351px) {
    .short-content-box p:nth-child(3) {
        font-size: 0.7rem;
    }
    .shorts-content p {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 313px) {
    .short-content-box p:nth-child(3) {
        font-size: 0.6rem;
    }
    .shorts-content p {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 282px) {
    .shorts-content {
        height: 101vw;
    }
}
@media screen and (min-width: 1392px) {
    body{
        padding-left: 18.35vw;
    }
}
